{% extends "base_generic.html" %}

{% block sidebar %}
  <ul class="sidebar-nav">
    <li><a href="">All Pokemons</a></li>
    <li><a href="">Generations</a></li>
    <li><a href="">Types</a></li>
  </ul>
{% endblock %}

{% block content %}
  <h1>All Pokemons</h1>
  {% if all_pokemon_list %}
  <ul>
    {% for pokemon in all_pokemon_list %}
      <li>
        <img src="{{pokemon.sprites.front_default}}" width="30px" height="30px"></img><a href="{{ pokemon.get_absolute_url }}">{{pokemon.idd}} - {{ pokemon.name.capitalize }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no pokemons on this website.</p>
  {% endif %}       
{% endblock %}