{% extends 'hatch_base_generic.html' %}

{% block import_static %}
  <script>
  var sprite_url = '{{ sprite_url|escapejs }}';
  var stat_url = '{{ stat_url|escapejs}}';
  var pokemon_1 = '{{ data.pokemon_1|escapejs}}';
  var pokemon_2 = '{{ data.pokemon_2|escapejs}}';
  var post_url = '{{ post_url|escapejs }}';
  var pokemon_url = '{{ pokemon_url|escapejs }}';
  var csrf_token = "{{ csrf_token|escapejs }}"
  </script>
  {% load static %}
  <script src="{% static 'hatch/hatch.js' %}"></script>

  {% load static %}
  <link rel="stylesheet" href="{% static 'hatch/hatch.css' %}">
{% endblock %}

{% block content%}

<div class="container-fluid">

  <div class='row'>
    <div class='col-md-7'>
      {% for list_id in '12'|make_list %}
      <div class="row">
        <div class='col-sm-5 text-center sprite_box'>
            <img id="pokemon_img_{{list_id}}" class='sprite_img' src="" style="opacity: 1"></img>
        </div>
        <div class='col-sm-7 text-center stat_box' >
            <table align="center" id='table_{{list_id}}' class='stat_table'>
            </table>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class='col-md-3 text-center' id='outer_result_box'>
      <div id='result_box' class='text-center'>
        <table align="center" id='result_table'>
        </table>
      </div>
    </div>

    <!-- Display Hatch Result -->
    <div class='col-md-2' id='outer_submit_box'>
      
      <form method="post" id='submit_box' action="{{post_url}}">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-sm-12 text-center">
            <button type="button" class="btn btn-success" id="change">Change?</button>
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-12 text-center">
            <label>  </label>
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-12 text-center">
            {% if user.is_authenticated %}
            <button type="submit" class="btn btn-primary" id="confirm">Confirm Hatch Pair</button>
            {% else %}
            <button type="submit" class="btn btn-danger" id="confirm">Please Log In First</button>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}