.footer {
    display: block;
    position: absolute;
    bottom: 0px;
    font-size: 20px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #cde4ff;
    text-align: center;
}

.test {
    font-size: 300px;
}