{% extends "base_generic.html" %}

{% block title %}
  <title>Profile: {% if user.is_authenticated %} {{ user.get_username }} {% else %} Not Logged In {% endif %}</title>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <p>Hello Pokelover!</p>
    <p>Username: {{user}}</p>
    <p>Nickname: {{user.profile.nickname}}</p>

    {% if user.profile.pokemons_created.count > 0%}
      <p>You have {{user.profile.pokemons_created.count}} hatched pokemons.</p>
      <a href="{% url 'hatched-list' %}">Here</a> are the details.
    {% else %}
      <p>You don't have any hatched pokemons.</p>
    {% endif %}
    
    <hr>
    
    {% if user.profile.pokemons_owned.count > 0%}
      <p>You have {{user.profile.pokemons_owned.count}} teamed pokemons.</p>
      <a href="#">Here</a> are the details.
    {% else %}
      <p>You don't have any pokemons in teams.</p>
      <p><a href="#">Create</a> Teams</p>
    {% endif %}
    
    <hr>
    
    <p><a href="#">Edit Profile</a></p>
  {% else %}
    <p>You're not logged in</p>
    <p><a href="{% url 'login'%}">Log In</a> to see your hatched pokemons </p>
  {% endif %}
{% endblock %}