<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Pokemon Hatch Match</title>{% endblock %}
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- JQuery should always be loaded before js scripts that uses jquery. -->
 <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/439ba4e026.js" crossorigin="anonymous"></script>


  <!-- select2.js -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  
  <!-- jquery ui is out of date-->
  <!--
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'pokemon/styles.css' %}">

  {% block import_static %}{% endblock %}
</head>
<body>

  {% block top_navbar %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
      <a class="navbar-brand" href="{% url 'index' %}">P.H.M</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcontent" aria-controls="navcontent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navcontent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Pokemons </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hatch-index' %}">Hatch </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Team Fight </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">More Coming </a>
          </li>
        </ul>
        {% if user.is_authenticated %}
        <span class="navbar-item">
          
          You are logged in. |
          
        </span>
        <ul class="navbar-nav mr-3">
          <li class="nav-item">
            <a class="nav-link" id="profile" href="{% url 'profile' %}">{{ user.get_username }}</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-3">
          <li class="nav-item">
            <a class="nav-link" id="logout" href="{% url 'logout' %}?next={{request.path}}">Log Out</a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav mr-3">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}?next={{request.path}}">Log In <span class="sr-only">(Sign In)</span></a>
          </li>
        </ul>
        {% endif %}
        <!--
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
      </div>
    </nav>

  {% endblock %}

  <div class="container-fluid wrapper">
    <div class="row">
      <div class="col-sm-3">
      {% block sidebar %}
      {% endblock %}
      </div>
      <div class="col-sm-9">
      {% block content %}
      {% endblock %}
      {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous </a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}"> Next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
      {% endblock %} 
       
      </div>
    </div>
    <div class="push"></div>
  </div>
  <footer class="footer">
    <div class="container">
      <span class="text-muted">Developed by Winston Lu.</span>
      <a href="https://github.com/piecesofreg09" style="color:black;"><i class="fab fa-github"></i></a>
    </div>
  </footer>
</body>
</html>